@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadingSpinner {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  border-top: 0.25rem solid transparent;
  border-left: 0.25rem solid var(--color-orange-red);
  border-right: 0.25rem solid var(--color-orange-red);
  border-bottom: 0.25rem solid var(--color-orange-red);
  animation: rotating 0.75s linear infinite;
}
