.leftBar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 257px;
  height: 100%;
  padding-top: 0.4rem;
  background-color: var(--color-white);
  border-right: 1px solid var(--color-gray-border);
  transition: width 500ms;
  box-sizing: border-box;
  opacity: 1;
}

.leftBarContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 500ms;
}

.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.475rem;
}

.userTab {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-top: auto;
  border-top: 1px solid var(--color-gray-border);
}

.userTab > img {
  height: 2.25rem;
  width: 2.25rem;
  margin-right: 0.75rem;
}

.userTab > div {
  display: flex;
  flex-direction: column;
}

.userTab > div > span {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-darkslategray);
}

.userTab > div > button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--color-slategray);
}

@media (max-width: 768px) {
  .leftBar {
    width: 0;
  }

  .leftBarContent {
    overflow: hidden;
    opacity: 0;
  }

  .mobileMenuOpen {
    width: 100%;
  }

  .mobileMenuOpen .leftBarContent {
    overflow: visible;
    opacity: 1;
  }
}
